parameters:
    tmpDir: ./cache/phpstan
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixture/*
    ignoreErrors:
        # too strict: we don't care
        - '#Construct empty\(\) is not allowed. Use more strict comparison#'
        # tangled in types: there is no way to pass a class-string from ContainerInterface::get(string $name)
        - '#Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects class-string#'

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
