parameters:
    tmpDir: ./cache/phpstan
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixture/*
    ignoreErrors:
        # too strict: we don't care
        - '#Construct empty\(\) is not allowed. Use more strict comparison#'
        # cant find a workaround
        - '#Method LSS\\YAContainer\\Container::get\(\) should return T of object but returns object#'
        # ignore unit test messages
        -
            message: '#Call to static method PHPUnit\\Framework\\Assert::assertInstanceOf#'
            path: tests/
        -
            message: '#Parameter \#1.*of method LSS\\YAContainer\\Container::has\(\) expects class-string, string given#'
            path: tests/

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
